@media screen and (max-width: 400px) {
		      #ph-box img{
		        width: 100%;
		        margin: 2px 0;
		      }
		   }
@media screen and (min-width: 400px) {
			  #ph-box{
			  	border: 1px solid white;
			  }
		      #ph-box img{
		        float: left;
		        width: 100px;
		        height: 100px;
		        margin: 9px;
		      }
		   }
.h1{
	color: red;
}
